---
import "@/styles/globals.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import AboutUsImage from "../assets/images/about-us-card.jpeg";
import MissionImage from "../assets/images/mission.jpeg";
import ExcellenceImage from "../assets/images/excellence.jpeg";
import PrintingImage from "../assets/images/printing.jpeg";
import SignageImage from "../assets/images/signage.jpeg";
---

<Layout title="Welcome to Hermes Advertising.">
  <main class="flex flex-col w-full h-full">
    <section
      class="flex items-center justify-center w-full p-8 bg-cover bg-home-cover"
    >
      <div class="flex items-center h-[20vh] md:h-[30vh]">
        <h1
          class="text-4xl font-bold tracking-widest text-center md:text-5xl text-slate-900 opacity-80"
        >
          HERMES ADVERTISING
        </h1>
      </div>
    </section>
    <section
      class="flex items-center justify-center p-8 bg-gradient-to-l from-cyan-700 to-slate-900"
    >
      <p class="text-lg font-bold tracking-wide text-center text-slate-50">
        Welcome to the Hermes Advertising Web Page. "Hermes Advertising" is an
        Outdoor Advertising, Printing, Publicity and Branding organization.
      </p>
    </section>
    <section
      class="flex flex-col items-center gap-8 p-8 md:flex-row md:items-start"
    >
      <div class="md:py-4">
        <Image
          src={AboutUsImage}
          alt={"About Hermes Advertising"}
          loading={"eager"}
          class="w-[350px] h-[350px] rounded-lg"
        />
      </div>
      <article class="p-4">
        <h1
          class="py-4 text-5xl font-bold tracking-wide text-center text-fuchsia-700 border-y-8 md:text-left"
        >
          About Us
        </h1>
        <p class="py-8">
          Hermes Advertising is an advertising, branding, printing, business
          solutions and consulting organization. Established in Kolkata, India
          in the year 2016.
          <br />
          <br />
          <em class="font-semibold">
            We're a dedicated creative agency. Each of our design project has to
            be special, being as important as the end result process.
          </em>
          <br />
          <br />
          <em>
            Our projects truly inspire, inform and interact with the targeted
            audience!
          </em>
        </p>
      </article>
    </section>
    <section
      class="flex flex-col items-center justify-between gap-8 px-8 py-16 md:items-start bg-gradient-to-br md:bg-gradient-to-br from-slate-900 to-cyan-800 text-slate-50"
    >
      <div
        class="flex flex-col items-center justify-center w-full md:flex-row md:justify-end md:gap-12"
      >
        <div
          class="flex flex-col items-center justify-center order-2 py-4 md:items-end md:order-1 md:flex-1"
        >
          <h2
            class="text-3xl font-bold text-center md:text-end text-fuchsia-400"
          >
            Mission
          </h2>
          <p class="py-4 text-center md:text-end">
            Building India’s largest BTL Advertising Marketplace Leaders
            <br />
             in all type of BTL marketing within PAN India.
          </p>
        </div>
        <Image
          src={MissionImage}
          alt={"Mission of Hermes Advertising"}
          loading={"lazy"}
          class="w-[400px] h-[350px] rounded-lg order-1 md:order-2"
        />
      </div>
      <div
        class="flex flex-col items-center justify-center flex-1 md:flex-row md:gap-12"
      >
        <Image
          src={ExcellenceImage}
          alt={"Excellence of Hermes Advertising"}
          loading={"lazy"}
          class="w-[400px] h-[350px] rounded-lg"
        />
        <div
          class="flex flex-col items-center justify-center py-4 md:items-start"
        >
          <h2 class="text-3xl font-bold text-center text-fuchsia-400">
            Our Excellence
          </h2>
          <p class="py-4 text-center md:text-left">
            We have excellence in production,scripting, all media creative,
            corporate Advertising, Printing production, Branding, Website
            development & Advertising. With all our In-house production, we
            deliver at promising budget.
          </p>
        </div>
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-between gap-8 px-8 py-16 md:items-start bg-gradient-to-br md:bg-gradient-to-br from-slate-200 to-white text-slate-800"
    >
      <div
        class="flex flex-col items-center justify-center w-full md:flex-row md:justify-end md:gap-12"
      >
        <div
          class="flex flex-col items-center justify-center order-2 py-4 md:items-end md:order-1 md:flex-1"
        >
          <h2
            class="text-4xl font-bold text-center md:text-end text-fuchsia-700"
          >
            Prints
          </h2>
          <p class="py-4 text-xl text-center md:text-end">
            All types of printing used in outdoor advertising are done by our
            own printing-house.
          </p>
        </div>
        <Image
          src={PrintingImage}
          alt={"Printing stuffs"}
          loading={"lazy"}
          class="w-[400px] h-[350px] rounded-lg order-1 md:order-2"
        />
      </div>
      <div
        class="flex flex-col items-center justify-center flex-1 md:flex-row md:gap-12"
      >
        <Image
          src={SignageImage}
          alt={"Printing Signage | Hermes Advertising"}
          loading={"lazy"}
          class="w-[400px] h-[350px] rounded-lg"
        />
        <div
          class="flex flex-col items-center justify-center py-4 md:items-start"
        >
          <h2 class="text-4xl font-bold text-center text-fuchsia-700">
            Signage
          </h2>
          <p class="py-4 text-xl text-center md:text-left">
            All of the signage activities used in outdoor branding are done by
            us.
          </p>
        </div>
      </div>
    </section>
    <ContactCard />
  </main>
</Layout>
